div#appWrapper {
  width: 100%;
  padding: 10px 15px;
}

h2#mainTitle {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 2px 20px;
  font-size: 1.5rem;
  position: relative;
}

h2#mainTitle::before,
h2#mainTitle::after {
  content: "";
  display: block;
  width: 8px;
  height: 8px;
  position: absolute;
  top: 50%;
  border-radius: 50%;
  transform: translateY(-50%);
  background-color: white;
}

h2#mainTitle::before {
  left: 4px;
}
h2#mainTitle::after {
  right: 4px;
}

div#bikeList {
  margin: 30px 0px;
}

@media only screen and (min-width: 600px) {
  div#appWrapper {
    width: 75%;
    margin: 0px auto;
  }
}

@media only screen and (min-width: 600px) {
  div#appWrapper {
    width: 85%;
    margin: 0px auto;
  }
}