div#appWrapper {
  width: 100%;
  padding: 10px 15px;
}

h2#mainTitle {
  background-color: black;
  color: white;
  display: inline-block;
  padding: 2px 16px;
  font-size: 1.5rem;
}

div#bikeList {
  margin: 30px 0px;
}

@media only screen and (min-width: 600px) {
  div#appWrapper {
    width: 75%;
    margin: 0px auto;
  }
}

@media only screen and (min-width: 600px) {
  div#appWrapper {
    width: 85%;
    margin: 0px auto;
  }
}